<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        #increase_button, #decrease_button {
            display: inline-block;
            width: 15px;
            height: 15px;

            background-color: aliceblue;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
        }

        td {
            width: 200px;
            height: 50px;
            background-color: lightpink;
            text-align: center;
        }

        th {
            width: 200px;
            height: 50px;
            background-color: cornflowerblue;
            text-align: center;
        }
    </style>
</head>
<body>


        <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12">


            <img src="/resources/img/logo-370x235.png"/>

        </nav>

        <!--Lam lam lam lma-->

        <nav class="navbar navbar-expand-lg  navbar-light bg-success  sticky-top col-md-12">
            <a class="navbar-brand " href="/food/home"></i>Home</a>
            <div class="collapse navbar-collapse" id="1navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-brand">
                        <a class="nav-link" href="/food/gioithieu">Gioi thieu</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href="/food/sanpham">San Pham</a>
                    </li>

                    <li class="navbar-brand">
                        <a class="nav-link" href="#">Lien he</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href="#"></i>0988888888</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </ul>
            </div>
        </nav>
<div>
    <p>
        <a href="/food/list">Food list</a>
    </p>
    <h1 th:text="${'Items in Store'}"></h1>
    <form action="/store/show" th:object="${store}" method="post">
        <h3>Total Items: <span th:text="${store.countItemQuantity()}"></span></h3>
        <h3>Total Foods: <span th:text="${store.countFoodQuantity()}"></span></h3>
        <th:block th:if="message">
            <p th:text="${message}"></p>
        </th:block>
        <table border="1">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr th:each="food: ${store.foods}">
                <td><a th:href="@{/food/view/__${food.getKey().id}__ }" th:text="${food.getKey().name}"></a></td>
                <td>
                    <a id="decrease_button" th:href="@{/food/remove/__${food.getKey().id}__(action='show') }"
                       th:text="${'-'}"></a>
                    <span th:text="${food.getValue()}"></span>
                    <a id="increase_button" th:href="@{/food/add/__${food.getKey().id}__(action='show') }"
                       th:text="${'+'}"></a>
                </td>
                <td th:text="${food.getKey().price}"></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td th:text="${store.countTotalPayment()}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Thanh toan"></td>
            </tr>
        </table>
    </form>
</div>
        <footer>
            <div class="container-fluid padding">
                <div class="row text-center">
                    <div class="col-md-4" >
                        <img src="/resources/img/logo-370x235.png" height="50" width="100"/>
                        <hr class="light">
                        <p>111-222-3333</p>
                        <p>chanlyrestaurant@gmail.com</p>
                        <p><i class="fas fa-map-marker-alt"></i>2 ham nghi street, Hanoi, Vietnam</p>
                    </div>
                    <div class="col-md-4">
                        <hr class="light">
                        <h5>Information </h5>
                        <hr class="light">
                        <p>Outsourcing</p>
                        <p>Website development</p>
                        <p>Mobile applications</p>
                    </div>
                    <div class="col-md-4">
                        <hr class="light">
                        <h5>Working Hours</h5>
                        <hr class="light">
                        <p>Monday-Friday: 8am - 5pm</p>
                        <p>Weekend: 8am - 12am</p>
                    </div>

                    <div class="col-12">
                        <hr class="light-100">
                        <h5>&copy; WebPro</h5>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>
